# Ignore raw traces and feature CSVs
traffic_analysis/trace_dataset/
traffic_analysis/traffic_features.csv
traffic_analysis/traffic_features_noisy.csv

# Ignore Jupyter checkpoints (safe)
traffic_analysis/.ipynb_checkpoints/

# Ignore temporary / editor files
*.pyc
__pycache__/
